@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css');


html, body{
	font-family: 'Sintony', sans-serif;
	width: 100%;
}
.flex{
	display: flex;
}
.flex_row{
	flex-direction: row;
}
.container {
	flex-direction:column;
}
.header{
	flex: 30% ;
}
.calendar{
	width: 1291px;
}
.container_gametime{
	background-color: rgb(255, 255, 255)
}
.button, .today-is, .container_gametime{
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	border-right-color:rgb(210, 210, 210);
	border-right-style: solid;
	border-right-width: 2px;
}
.button{
	padding-top: 25px;
}
.today-is{
	padding-top: 20px;
	background-color: rgb(247, 247, 247);
	text-transform: capitalize;
	font-weight: 600;
	text-align: center;
}

.gametime{
	color:black;
	font-size: 16px;
	margin-bottom: 0px;
}
.gametime:hover{
	visibility: hidden;
}
.game{
	visibility: hidden;
}
.game:hover{
	display: inline-block;
}
.logo-nav{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgb(210, 210, 210);
	margin-top:0px ;
	
}
.logo{
	flex: 90%;
}
.logo img{
	width: 200px;
	height: 100px;	
}
.user{
	margin-top: 40px;
	margin-right: 10px; 
}
.user a{
	margin-right: 10px;
}
.navigation a{
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(51, 51, 51);
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-right: 10px;
}
.main-content{
	background-color: rgb(236, 236, 236);
	
}
.main_articles{
	display: flex;
	flex-direction: column;
	float: 60%;
}
.article-logo img{
	height: 40px;
	width: 40px;
}
.article-img img{
	height: 350px;
	width: 550px;
}
.article-item{
	border:2px solid white;
	background-color: white;
	margin: 20px 10px;

}
.aside_articles{
	display: flex;
	flex-direction: column;
	flex: 25% ;
}
.image-aside img{
	height: 250px;
	width: 400px;
}